@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bonheur+Royale&display=swap");
:root {
  --font-one--: "Bonheur Royale", cursive;
  --font-two--: "Bellota Text", sans-serif;
  --color-one: #c6c6c6;
  --color-two: #5c636a;
  --color-three: #f9f9f9;
  --color-btn: #636363;
}
.container {
  overflow: hidden;
  background: #fff;
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
}
