/* Video cưới */
.section-2-main {
    background-color: #F8F8F8;
    text-align: center;
    padding-top: 60px;
}

.section-2-main p {
    margin:0;
}

.section-2-main p:first-child {
    font-size:60px;
    font-family: var(--font-one--);
    color:#474747 ;
    font-weight: 500;
}

.section-2-main #text {
    font-size:20px;
    margin-top: 20px ;
    font-weight: 200;
    font-family: var(--font-two--);
}

.section-2-main .iframe iframe {
    margin-top: 40px;
    margin-bottom: 50px ;
    border-radius: 20px ;
}
/* End video cưới */

/* Album hình cưới */
.album .album-title, .album .album-desc {
    text-align: center;
}
.album h2 {
    font-family: var(--font-one--);
    font-size: 48px;
    font-weight: 500;
    margin: 24px 0;
}
.album p {
    font-family: var(--font-two--);
    font-size: 20px;
}
.album .album-img {
    display: flex;
    justify-content: center;
    gap: 4px;
}
.album .album-img .col {
    width: calc(50% - 4px);
}
.album .album-img .img img {
    object-fit: cover;
    width: 100%;
}
.album .see-all-album {
    margin: 32px 0;
    text-align: center;
}
.album .see-all-album p a {
    font-family: var(--font-two--);
    padding: 12px 24px;
    color: #fff;
    text-decoration: none;
    border: none;
    background-color: #636363;
    border-radius: 24px;
}
/* End album hình cưới */

