.section-2-main {
    background-color: #F8F8F8;
    text-align: center;
    padding-top: 60px;
}

.section-2-main p {
    margin:0;
}

.section-2-main p:first-child {
    font-size:60px;
    font-family: var(--font-one--);
    color:#474747 ;
    font-weight: 500;
}

.section-2-main #text {
    font-size:20px;
    margin-top: 20px ;
    font-weight: 200;
    font-family: var(--font-two--);
}

.section-2-main .iframe iframe {
    margin-top: 40px;
    margin-bottom: 50px ;
    border-radius: 20px ;
}