/* section 1 start  */
.section-1 .wrap {
  color: var(--color-one);
  padding: 16px;
}
.section-1 a {
  text-decoration: none;
}
.section-1 .wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.section-1 .wrap .inner-title {
  display: flex;
  padding: 16px 8px;
  justify-content: right;
  gap: 10px;
  align-items: center;
  position: relative;
}
.section-1 .wrap .inner-title > p {
  color: var(--color-three);
  font-size: 17.6px;
  font-weight: 500;
}
.section-1 .wrap .inner-title > p:first-child {
  position: absolute;
  left: calc(100% - 260px);
  bottom: 20px;
}
.section-1 .wrap .inner-title .time-wedding {
  font-size: 70px;
  font-weight: 500;
}
.section-1 .wrap .inner-title .time-wedding > p:first-child {
  border-bottom: 1px solid var(--color-one);
}
.section-1 .wrap .inner-img {
  padding: 24px 0 80px;
  position: relative;
}

.section-1 .wrap .inner-img .main-img {
  overflow: hidden;
}
.section-1 .wrap .inner-img .wedding-title {
  position: absolute;
  left: 0;
  bottom: -35px;
}
.section-1 .wrap .inner-img .wedding-desc {
  position: relative;
  text-align: left;
  font-size: 22px;
  left: 50px;
  top: 50px;
  color: var(--color-three);
  font-weight: 500;
}
.section-1 .wrap .wedding-nav {
  margin-top: 70px;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}
.section-1 .wrap .wedding-nav .wedding-box {
  background-color: var(--color-btn);
  width: calc(33% - 5px);
  padding: 10px 12px;
  margin: 0 0 4px;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.section-1 .wrap .wedding-nav .wedding-box a {
  display: block;
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}
.section-1 .wrap .wedding-nav .wedding-box a i {
  font-size: 17px;
}
.section-1 .wrap .wedding-nav .wedding-box:hover {
  background-color: var(--color-two);
}
/* section 1 end  */

/* *{
    padding: 0;
    margin: 0;
} */

/* Video cưới */
.section-2-main {
  background-color: #f8f8f8;
  text-align: center;
  padding-top: 60px;
}

.section-2-main p {
  margin: 0;
}

.section-2-main p:first-child {
  font-size: 60px;
  font-family: var(--font-one--);
  color: #474747;
  font-weight: 500;
}

.section-2-main #text {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-two--);
  margin-top: 20px;
}

.section-2-main .iframe iframe {
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 20px;
}

/* End video cưới */

/* Album hình cưới */
.album .album-title,
.album .album-desc {
  text-align: center;
}
.album h2 {
  font-family: var(--font-one--);
  font-size: 48px;
  font-weight: 500;
  margin: 48px 0;
}
.album p {
  font-family: var(--font-two--);
  font-size: 20px;
  margin: 0 16px 32px;
}
.album .album-img {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.album .album-img .col {
  width: calc(50% - 4px);
}
.album .album-img .img img {
  object-fit: cover;
  width: 100%;
}
.album .see-all-album {
  margin: 48px 0;
  text-align: center;
}
.album .see-all-album p a {
  font-family: var(--font-two--);
  padding: 12px 24px;
  color: #fff;
  text-decoration: none;
  border: none;
  background-color: #636363;
  border-radius: 24px;
}
/* End album hình cưới */

/* Sự kiện cưới */
.wedding-event .wedding-event-title,
.wedding-event .wedding-event-desc {
  text-align: center;
}
.wedding-event h2 {
  font-family: var(--font-one--);
  font-size: 48px;
  font-weight: 500;
  margin: 48px 0;
}
.wedding-event .wedding-event-desc p {
  font-family: var(--font-two--);
  font-size: 20px;
  margin: 0 16px 32px;
}
.wedding-event .inner-wedding {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}
.wedding-event .inner-wedding .event {
  margin-left: 32px;
  margin-right: 32px;
  width: 90%;
  background-color: #f2f2f2;
  border-radius: 12px;
  display: flex;
  gap: 32px;
  height: 180px;
}
.wedding-event .inner-wedding .event h3 {
  margin: 20px 0;
}
.wedding-event .inner-wedding .event:nth-child(1) {
  height: 200px;
}
.wedding-event .inner-wedding .event-img {
  position: relative;
  width: 32%;
}
.wedding-event .inner-wedding .event-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.wedding-event .dress-code {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.wedding-event .dress-code .color {
  text-align: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.color-1 {
  background-color: #eda2b6;
}
.color-2 {
  background-color: #fff;
}
.color-3 {
  background-color: #623262;
}
.color-4 {
  background-color: #504e63;
}
.color-5 {
  background-color: #c4854a;
}
.color-6 {
  background-color: #bb5f6a;
}
.color-7 {
  background-color: #31415c;
}
.color-8 {
  background-color: #fff;
}
.color-9 {
  background-color: #57233a;
}
.color-10 {
  background-color: #77a56c;
}
.color-11 {
  background-color: #4d4c60;
}
.color-12 {
  background-color: #632a7e;
}
.wedding-event .inner-wedding .event .event-desc {
  width: 65%;
  margin-right: 16px;
}
.wedding-event .inner-wedding .event h3,
.wedding-event .inner-wedding .event p {
  font-family: var(--font-two--);
}
.wedding-event .inner-wedding .event h3 {
  font-weight: 400;
}
.wedding-event .inner-wedding .event p {
  margin: 0 0 8px 0;
}
.wedding-event .inner-wedding .event .event-info p {
  display: inline-block;
  padding: 8px;
  background-color: #636363;
  border-radius: 4px;
  margin-top: 12px;
}
.wedding-event .inner-wedding .event .event-info p a {
  text-decoration: none;
  color: #fff;
}
/* End sự kiện cưới */

/* Hộp mừng cưới */
.wedding-box .container {
  background-color: #f2f2f2;
}
.wedding-box .wedding-box-title,
.wedding-box .wedding-box-desc {
  text-align: center;
}
.wedding-box .wedding-box-title h2 {
  font-family: var(--font-one--);
  font-size: 48px;
  font-weight: 500;
  margin: 48px 0;
}
.wedding-box .qr-box {
  margin: 0 16px 32px;
}
.wedding-box .qr-box h3 {
  margin: 32px 0;
}
.wedding-box .qr-box p {
  margin: 16px;
}
.wedding-box .wedding-box-desc p {
  font-family: var(--font-two--);
  font-size: 20px;
  margin: 0 16px 32px;
}
.wedding-box .qr-box {
  display: flex;
  justify-content: space-between;
}
.wedding-box .qr {
  text-align: center;
  width: 48%;
  border: 1px dashed #000;
  border-radius: 4px;
}
.wedding-box .qr .qr-img img {
  width: 75%;
  border-radius: 12px;
  border: 1px solid #000;
}
/* End hộp mừng cưới */

/* section-4 */

body {
  font-family: var(--font-two--);
  background-color: #ccc;
}
.section-four {
  font-family: var(--font-two--);
  /* background-color: var(--color-three);  */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-four .container .inner-wrap {
  padding: 48px 78px;
  background-color: #f9f9f9;
  /* border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.inner-calendar h3.inner-title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.3em;
  font-weight: 400;
  color: #474747;
}

.section-four .inner-table-one {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
}
.section-four .inner-table-head tr {
  display: flex;
  justify-content: space-between;
}
.section-four .inner-table-head th {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
  color: #474747;
  font-size: 16px;
  border-bottom: 1px solid #808080;
}
.section-four #inner-calendar-body::before {
  content: " ";
  background-color: #474747;
  height: 1px;
  width: 420px;
}
.section-four #inner-calendar-body td {
  text-align: center;
  width: 60px;
  height: 40px;
  padding: 10px;
  color: #808080;
  /* cursor: pointer; */
}

div.selected {
  background-color: #726e6e;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-four .inner-table-one::before {
  content: " ";
  background-color: #474747;
  height: 1px;
  width: 420px;
  display: inline-block;
  /* width: 420px; */
}
.section-four .inner-table-one::after {
  content: " ";
  background-color: #474747;
  height: 1px;
  width: 420px;
  margin-top: 30px;
  display: inline-block;
  /* width: 420px; */
}
/* Đồng hồ đếm ngược */
.inner-countdown {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.inner-countdown .inner-box {
  text-align: center;
  width: calc(25% - 1em);
  margin-top: 30px;
}

.inner-countdown .inner-box span {
  display: block;
  font-size: 48px;
  font-weight: 400;
  color: #474747;
}

.inner-countdown .inner-box p {
  margin: 0;
  font-size: 16px;
  color: #474747;
}

/* end section-4 */

/* section 5 start  */
.section-5 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.section-5 .wrap h2 {
  font-family: var(--font-one--);
  font-size: 44.8px;
  color: #474747;
  font-weight: 300;
  text-align: center;
  margin-bottom: 8px;
}
.section-5 .wrap > h3 {
  font-size: 17.6px;
  margin-bottom: 24px;
  color: #212529;
  font-weight: 500;
  text-align: center;
}
.section-5 .wrap {
  padding: 48px 20px;
  background-color: white;
}
.section-5 .wrap .time-line-card {
  padding: 20px 20px 30px;
  position: relative;
}
.section-5 .wrap .time-line-card .infor {
  padding: 10px;
  padding-top: 30px;
}
.section-5 .wrap .time-line-card .infor .title {
  font-weight: 500;
  font-size: 22.4px;
  color: #474747;
  margin-bottom: 8px;
  margin-top: 5px;
  position: relative;
  font-family: var(--font-two--);
}
.section-5 .wrap .time-line-card .infor .date {
  font-weight: 500;
}
.section-5 .wrap .time-line-card .infor .title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid orangered;
  border-color: #474747;
}
.section-5 .wrap .inner-wrap .time-line-card:nth-child(even) > .infor {
  text-align: right;
}
.section-5
  .inner-wrap
  .time-line-card:nth-child(odd)
  > .infor
  > .title::before {
  left: -35px;
}
.section-5
  .inner-wrap
  .time-line-card:nth-child(even)
  > .infor
  > .title::before {
  right: -35px;
}
.section-5 .wrap .time-line-card .infor p {
  margin-bottom: 16px;
  line-height: 25px;
  color: #212529;
  font-weight: 400;
}
.section-5 .wrap .time-line-card:first-child .infor {
  padding-top: 10px;
}
.section-5 .wrap .time-line-card:first-child {
  padding-top: 0px;
}
.section-5 .wrap .time-line-card:last-child {
  padding-bottom: 0px;
}
.section-5 .wrap .time-line-card .infor .img-holder {
  border-radius: 25px;
  overflow: hidden;
}
.section-5 .inner-wrap .time-line-card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid orangered;
  border-color: #474747;
}

.section-5 .inner-wrap .time-line-card:nth-child(odd)::before {
  left: 0px;
  top: -2px;
  bottom: 0px;
  border-width: 3px 0 3px 3px;
  border-radius: 50px 0 0 50px;
}
.section-5 .inner-wrap .time-line-card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0px;
}
.section-5 .inner-wrap .time-line-card:nth-child(even)::before {
  right: 0px;
  top: -2px;
  bottom: 0px;
  border-width: 3px 3px 3px 0px;
  border-radius: 0px 50px 50px 0px;
}
.section-5 .inner-wrap .time-line-card:last-child::before {
  border-bottom: 0;
  border-bottom-right-radius: 0px;
}
.section-5 .timeline-card:nth-child(even) {
  padding: 30px 20px 30px 20px;
}
/* section 5 end  */
/* section-6 */

.section-6-main {
  background-color: #f8f8f8;
  text-align: center;
  padding-top: 60px;
  margin-top: 20px;
}

.section-6-main h2 {
  font-size: 50px;
  font-weight: 500;
  font-family: var(--font-two--);
  margin: 0;
  margin-bottom: 60px;
}

.section-6-main p {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-two--);
  margin-top: 0px;
  margin-bottom: 10px;
}

.section-6-main img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section-6-main .img-6 {
  padding: 0px 20px;
  margin-top: 50px;
}

.section-6-main .text-6 {
  font-family: var(--font-one--);
  color: #949494;
  font-size: 25px;
}

.section-6-main .text-6 strong {
  color: #222;
  margin-left: 10px;
}

/* end section-6 */

/* section-9 */

.section-9-main {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.section-9-main .box-item {
  display: flex;
  flex-wrap: wrap;
}

.section-9-main .box-img {
  width: 50%;
  text-align: center;
}

.section-9-main .header-main {
  font-size: 50px;
  font-family: var(--font-one--);
  color: #474747;
  font-weight: 400;
  text-align: center;
  margin-bottom: 60px;
}

.section-9-main .header-text {
  font-size: 20px;
  font-family: var(--font-two--);
  font-weight: 530;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-9-main .text {
  padding: 5px;
  font-size: 18px;
  color: #212529;
  text-align: center;
  font-family: var(--font-two--);
  margin-top: 0px;
}

.section-9-main .box-img img {
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* end section-9 */
/* Co Dau & Chu Re */
.section-bride-groom {
  color: #474747;
}
.section-bride-groom .inner-wrap {
  background-color: #f9f9f9;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-bride-groom .inner-wrap h2.inner-title {
  font-family: var(--font-one--);
  font-size: 44px;
  font-weight: 500;
  margin: 0;
}
.section-bride-groom .inner-wrap .inner-box .inner-image {
  margin-top: 30px;
  width: 350px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
.section-bride-groom .inner-wrap .inner-box .inner-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.section-bride-groom .inner-wrap .inner-box .inner-parent {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}
.section-bride-groom .inner-wrap .inner-box .inner-parent span {
  text-align: center;
  font-size: 16px;
}
.section-bride-groom .inner-wrap .inner-box .inner-content {
  padding: 0 20px;
}
.section-bride-groom .inner-wrap .inner-box .inner-content p {
  line-height: 1.5em;
  letter-spacing: 0.1em;
  margin: 0;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font: inherit;
  vertical-align: baseline;
  margin-block-start: 0.8em;
}
.section-bride-groom .inner-wrap .inner-box .inner-button {
  padding: 2px;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  cursor: pointer;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-bride-groom .inner-wrap .inner-box .inner-contact {
  font-family: var(--font-one--);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  margin-top: 10px;
}
.section-bride-groom .inner-wrap .inner-box .inner-contact ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.section-bride-groom .inner-wrap .inner-box .inner-contact ul li {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-left: 12px;
}
.section-bride-groom .inner-wrap .inner-box:nth-child(2) {
  margin-top: 50px;
}
/* EndCo Dau & Chu Re */

/* section-11 start */
.section-11 .wrap {
  padding: 48px 20px;
  text-align: center;
}
.section-11 .wrap .inner-title {
  font-family: var(--font-one--);
  font-size: 44.8px;
  color: #474747;
  margin-bottom: 8px;
  font-weight: 500;
}
.section-11 .wrap .inner-desc {
  font-family: var(--font-two--);
  font-size: 17.6px;
  color: #212529;
  margin-bottom: 24px;
  font-weight: 500;
}
.section-11 .wrap .inner-form {
  padding: 24px;
  background-color: #d8d8d8;
}
.section-11 .wrap .inner-form input,
.section-11 .wrap .inner-form textarea {
  border: none;
  outline: none;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.section-11 .wrap .inner-form .information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.section-11 .wrap .inner-form .information > div {
  width: calc(50% - 10px);
  border-radius: 7px;
  overflow: hidden;
  height: 40px;
}
.section-11 .wrap .inner-form .information > div:focus-within {
  border: 3px solid lightskyblue;
}
.section-11 .wrap .inner-form .send-greet {
  display: block;
  width: 100%;
  padding: 6px 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 7px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.section-11 .wrap .inner-form .send-greet textarea {
  margin-bottom: 0;
  border-radius: 0 !important;
  resize: none;
  padding: 6px 12px;
  height: 70px;
}
.section-11 .wrap .inner-form .send-greet .add-greet {
  padding: 10px;
  text-align: right;
  border-top: 1px solid #f3f1f1;
}
.section-11 .wrap .inner-form .send-greet .add-greet > span {
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.section-11 .wrap .inner-form .greet-btn {
  margin-top: 20px;
  padding-bottom: 10px;
}
.section-11 .wrap .inner-form .greet-btn button {
  padding: 10px 70px;
  background-color: #5c636a;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.section-11 .wrap .inner-form .greet-btn button:hover {
  background-color: #848484;
}
.section-11 .wrap .show-comment {
  background-color: #d8d8d8;
  overflow-y: auto;
  height: 410px;
  margin-top: 15px;
  text-align: left;
  padding: 16px 24px;
}
.section-11 .wrap .show-comment .box-comment .title {
  font-size: 24px;
  margin: 4px 0 8px;
  font-weight: 400;
  color: #212529;
}
.section-11 .wrap .show-comment .box-comment .detail {
  font-size: 16px;
  color: #212529;
}

/* section-11 end */

/* Thank You  */
.section-thank-you .inner-wrap {
  padding: 48px 0;
  font-family: var(--font-two--);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-thank-you .inner-wrap h3 {
  color: #474747;
  font-size: 44px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-weight: 500;
}
.section-thank-you .inner-wrap h5 {
  color: #474747;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
/* End Thank You  */

/* Các nút icon wedding . */
.section-12 .button-wedding i {
  font-size: 22px;
  color: white;
}

body {
  position: relative;
}

.section-12 .box-item-wedding {
  position: fixed;
  right: 55px;
  bottom: 60px;
  display: none;
}

.section-12 .button-wedding-volum {
  position: fixed;
  left: 50px;
  bottom: 60px;
}

.section-12 .open-volum {
  display: none;
}

.section-12 .close-volum {
  z-index: 1000;
}

.section-12 .button-open {
  position: fixed;
  right: 55px;
  bottom: 70px;
}

.section-12 .box-button-wedding {
  display: flex;
  padding-bottom: 10px;
}

.section-12 .button-wedding {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #df4758;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.section-12 .text-wedding {
  background-color: #df4758;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  position: absolute;
  left: -160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-12 .box-button-wedding .button-wedding:hover + .text-wedding {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
}

.section-12 .box-button-wedding .text-wedding::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -5px; /* Dịch sang phải để tạo mũi nhọn */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px; /* Chiều rộng mũi nhọn */
  border-color: transparent transparent transparent #df4758; /* Màu nền của nút */
}

.section-12 .text-volum {
  background-color: white;
  height: 42px;
  padding: 20px;
  position: fixed;
  bottom: 60px;
  left: 75px;
  border-radius: 10px;
  /* display: none; */
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

/* End Các nút icon wedding . */
