/* navbar start */
.header {
  z-index: 900;
  transition: all 0.5 ease-in-out;
}
.header .main-nav {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;

  border-bottom: 2px solid rgba(0, 0, 0, 0.2); /* Đen nhạt với độ mờ */
}
.header .main-nav .wedding-name h3 {
  letter-spacing: 5px;
  font-family: var(--font-one--);
  font-size: 20px;
  color: #474747;
  font-weight: 500;
  cursor: pointer;
}
.header .main-nav .wedding-selection i {
  cursor: pointer;
  color: var(--color-two);

  font-size: 20px;
}
/* navbar end */

/* sub menu start */
.sub-menu ul {
  list-style: none;
}
.sub-menu a {
  text-decoration: none;
  color: #212529;
  font-size: 19.5px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.sub-menu .wrap #close-btn {
  text-align: right;
  margin-bottom: 20px;
}
.sub-menu .wrap #close-btn i {
  cursor: pointer;
  font-size: 25px;
  color: gray;
  transition: 0.3s ease-out;
}
.sub-menu .wrap #close-btn i:hover {
  color: #212529;
}
.sub-menu .wrap {
  transition: right 0.3s ease;
  border-left: 1px solid #212529;
  z-index: 1000;
  padding: 20px;
  position: fixed;
  height: 100vh;
  width: 250px;
  background-color: white;
  top: 0;
  right: -250px;
}
.sub-menu .wrap ul li {
  padding: 15px 0px;
  position: relative;
}
.sub-menu .wrap ul li:hover > a {
  font-size: 22.4px;
}
.sub-menu .wrap ul li::after {
  transition: 0.3s ease-out;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #474747;
  border: 1px solid #474747;
  width: 50px;
  height: 1px;
}
.sub-menu .wrap ul li:hover + li::after {
  background-color: #df4758;
}

/* sub menu end */
/* section 1 start  */
.section-1 * {
  transition: all 0.5s ease-in-out;
}
.section-1 .wrap {
  color: var(--color-one);
  padding: 16px;
}
.section-1 a {
  text-decoration: none;
}
.section-1 .wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.section-1 .wrap .inner-title {
  display: flex;
  padding: 16px 8px;
  justify-content: right;
  gap: 10px;
  align-items: center;
  position: relative;
  opacity: 0;

  right: -50px;
}
.section-1 .wrap .inner-title.moveFromBottom {
  opacity: 1;
  right: 0;
}
.section-1 .wrap .inner-title > p {
  color: var(--color-three);
  font-size: 17.6px;
  font-weight: 500;
}
.section-1 .wrap .inner-title > p:first-child {
  position: absolute;
  left: calc(100% - 260px);
  bottom: 20px;
}
.section-1 .wrap .inner-title .time-wedding {
  font-size: 70px;
  font-weight: 500;
  color: #222 ;
}
.section-1 .wrap .inner-title .time-wedding > p:first-child {
  border-bottom: 1px solid var(--color-one);
}
.section-1 .wrap .inner-img {
  padding: 0px 0 80px;
  position: relative;
  opacity: 0;

  left: -50px;
}
.section-1 .wrap .inner-img.moveFromBottom {
  opacity: 1;
  left: 0;
}
.section-1 .wrap .inner-img .main-img {
  overflow: hidden;
}
.section-1 .wrap .inner-img .wedding-title {
  position: absolute;
  left: 300px;
  bottom: -35px;
  opacity: 0;
}
.section-1 .wrap .inner-img .wedding-title.moveFromBottom {
  left: 0;
  opacity: 1;
}
.section-1 .wrap .inner-img .wedding-desc {
  position: relative;
  text-align: left;
  font-size: 22px;
  opacity: 0;
  left: -200px;
  top: 50px;
  color: var(--color-three);
  font-weight: 500;
}
.section-1 .wrap .inner-img .wedding-desc.moveFromBottom {
  left: 50px;
  opacity: 1;
}
.section-1 .wrap .wedding-nav {
  margin-top: 70px;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.section-1 .wrap .wedding-nav .wedding-box {
  background-color: var(--color-btn);
  width: calc(33% - 5px);
  padding: 12px 12px;
  margin: 0 0 4px;
  border-radius: 5px;
  transition: all 0.5s ease;
  position: relative;
}
.section-1 .wrap .wedding-nav .wedding-box:first-child {
  opacity: 0;
  transform: translateX(-100px);
}
.section-1 .wrap .wedding-nav .wedding-box:nth-child(2) {
  transform: translateY(100px);
}
.section-1 .wrap .wedding-nav .wedding-box:last-child {
  opacity: 0;
  transform: translateX(100px);
}
.section-1 .wrap .wedding-nav .wedding-box.moveFromLeft {
  opacity: 1;
  transform: translateX(0px);
}
.section-1 .wrap .wedding-nav .wedding-box.moveFromRight {
  opacity: 1;
  transform: translateX(0px);
}
.section-1 .wrap .wedding-nav .wedding-box.moveFromBottom {
  opacity: 1;
  transform: translateY(0px);
}

.section-1 .wrap .wedding-nav .wedding-box a {
  display: block;
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}
.section-1 .wrap .wedding-nav .wedding-box a i {
  font-size: 17px;
}
.section-1 .wrap .wedding-nav .wedding-box:hover {
  background-color: var(--color-two);
}
@media (max-width: 510px) {
  .section-1 .wrap .wedding-nav {
    flex-wrap: wrap;
  }
  .section-1 .wrap .wedding-nav .wedding-box {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .section-1 .wrap .inner-img .wedding-title {
    bottom: -30px;
  }
  .section-1 .wrap .inner-img .wedding-desc {
    top: 70px;
  }
}
@media (max-width: 375px) {
  .section-1 .wrap .inner-img .wedding-title {
    bottom: 0px;
  }
  .section-1 .wrap .inner-img .wedding-desc {
    top: 50px;
  }
}
/* section 1 end  */

/* *{
    padding: 0;
    margin: 0;
} */

/* Video cưới */
.section-2-main {
  background-color: #f8f8f8;
  text-align: center;
  padding-top: 36px;
  padding-left: 20px;
  padding-right: 20px;
}
.section-2-main * {
  transition: all 0.5s ease-in-out;
}
.section-2-main p {
  margin: 0;
  opacity: 0;
  transform: translateY(100px);
}
.section-2-main p.moveFromBottom {
  opacity: 1;
  transform: translateY(0px);
}
.section-2-main p:first-child {
  font-size: 60px;
  font-family: var(--font-one--);
  color: #474747;
  font-weight: 500;
}

.section-2-main #text {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-two--);
  margin-top: 20px;
}

.section-2-main .iframe iframe {
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 20px;
  width: 100%;
  height: 361px;
}

.section-2-main .iframe {
  opacity: 0;
  transform: translateY(100px);
}
.section-2-main .iframe.moveFromBottom {
  opacity: 1;
  transform: translateY(0px);
}
/* End video cưới */

/* Album hình cưới */
.album * {
  transition: all 0.5s ease-in-out;
}
.album .album-title,
.album .album-desc {
  text-align: center;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
}
.album .album-title.moveFromBottom {
  opacity: 1;
  transform: translateY(0px);
}
.album .album-desc.moveFromBottom {
  opacity: 1;
  transform: translateY(0px);
}
.album h2 {
  font-family: var(--font-one--);
  font-size: 48px;
  font-weight: 500;
  margin: 36px 0 30px;
}
.album p {
  font-family: var(--font-two--);
  font-size: 20px;
  margin: 0 16px 32px;
}
.album .album-img {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  gap: 4px;
}
.album .album-img .col {
  width: calc(50% - 4px);
}
.album .album-img .col:first-child .img {
  opacity: 0;
  transform: translateX(100px);
}
.album .col:first-child .img:first-child {
  transform: translateX(-100px);
}
.album .album-img .col:last-child .img {
  opacity: 0;
  transform: translateX(-100px);
}
.album .col:last-child .img:first-child {
  transform: translateX(100px);
}
.album .album-img .col .img.moveFromLeft {
  opacity: 1;
  transform: translateX(0);
}
.album .album-img .col .img.moveFromRight {
  opacity: 1;
  transform: translateX(0);
}
.album .album-img .col .img.moveFromCenterToLeft {
  opacity: 1;
  transform: translateX(0);
}
.album .album-img .col .img.moveFromCenterToRight {
  opacity: 1;
  transform: translateX(0);
}
.album .album-img .img img {
  object-fit: cover;
  width: 100%;
}
.album .see-all-album {
  margin: 48px 0;
  text-align: center;
}
.album .see-all-album p a {
  display: inline-block;
  font-family: var(--font-two--);
  padding: 12px 24px;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  border: none;
  background-color: #636363;
  border-radius: 24px;
  opacity: 0;
  transform: translateY(100px);
}
.album .see-all-album p a.moveFromBottom {
  opacity: 1;
  transform: translateY(0);
}
/* End album hình cưới */

/* Sự kiện cưới */
.wedding-event * {
  transition: all 0.5s ease-in-out;
}
.wedding-event .wedding-event-title,
.wedding-event .wedding-event-desc {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
}
.wedding-event h2 {
  font-family: var(--font-one--);
  font-size: 48px;
  font-weight: 500;
  margin: 36px 0 30px;
}
.wedding-event .wedding-event-desc p {
  font-family: var(--font-two--);
  font-size: 20px;
  margin: 0 16px 32px;
}
.wedding-event .inner-wedding {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}
.wedding-event .inner-wedding .event {
  margin-left: 32px;
  margin-right: 32px;
  width: 90%;
  background-color: #f2f2f2;
  border-radius: 12px;
  display: flex;
  gap: 24px;
  height: 180px;
  opacity: 0;
  transform: rotateX(-180deg);
}
.rotate360X {
  opacity: 1 !important;
  transform: rotateX(0deg) !important;
}
.wedding-event .inner-wedding .event h3 {
  margin: 20px 0;
}
.wedding-event .inner-wedding .event-img {
  position: relative;
  width: 32%;
}
.wedding-event .inner-wedding .event-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.wedding-event .dress-code {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.wedding-event .dress-code .color {
  text-align: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.color-1 {
  background-color: #eda2b6;
}
.color-2 {
  background-color: #fff;
}
.color-3 {
  background-color: #623262;
}
.color-4 {
  background-color: #504e63;
}
.color-5 {
  background-color: #c4854a;
}
.color-6 {
  background-color: #bb5f6a;
}
.color-7 {
  background-color: #31415c;
}
.color-8 {
  background-color: #fff;
}
.color-9 {
  background-color: #57233a;
}
.color-10 {
  background-color: #77a56c;
}
.color-11 {
  background-color: #4d4c60;
}
.color-12 {
  background-color: #632a7e;
}
.wedding-event .inner-wedding .event .event-desc {
  width: 65%;
  margin-right: 16px;
}
.wedding-event .inner-wedding .event h3,
.wedding-event .inner-wedding .event p {
  font-family: var(--font-two--);
}
.wedding-event .inner-wedding .event h3 {
  font-weight: 400;
}
.wedding-event .inner-wedding .event p {
  margin: 0 0 8px 0;
  font-weight: bold;  
}
.wedding-event .inner-wedding .event .event-info p {
  display: inline-block;
  padding: 8px;
  background-color: #636363;
  border-radius: 4px;
  /* margin-top: 7px; */
}
.wedding-event .inner-wedding .event .event-info p a {
  text-decoration: none;
  color: #fff;
}
/* End sự kiện cưới */

/* Hộp mừng cưới */
.wedding-box * {
  transition: all 0.5s ease-in-out;
}
.wedding-box .container {
  background-color: #f8fafc;
}
.wedding-box .wedding-box-title,
.wedding-box .wedding-box-desc {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
}
.wedding-box .wedding-box-title h2 {
  font-family: var(--font-one--);
  font-size: 48px;
  font-weight: 500;
  margin: 36px 0 30px;
}
.wedding-box .wedding-box-title-extra h2 {
  font-family: var(--font-one--);
  font-size: 48px;
  font-weight: 500;
  margin: 48px 0;
  text-align: center;
}
.wedding-box .qr-box {
  margin: 0 16px 32px;
}
.wedding-box .qr-box h3 {
  margin: 32px 0;
}
.wedding-box .qr-box p {
  margin: 16px;
}
.wedding-box .wedding-box-desc p {
  font-family: var(--font-two--);
  font-size: 20px;
  margin: 0 16px 32px;
}
.wedding-box .wedding-box-desc-extra p {
  font-family: var(--font-two--);
  font-size: 20px;
  margin: 0 16px 32px;
  text-align: center;
}
.wedding-box .qr-box {
  display: flex;
  justify-content: space-between;
}
.wedding-box .qr {
  text-align: center;
  width: 48%;
  border: 1px dashed #000;
  border-radius: 4px;
  opacity: 0;
  transform: translateX(-100px);
}
.wedding-box .qr:last-child {
  transform: translateX(100px);
}
.moveFromLeft {
  opacity: 1 !important;
  transform: translateX(0px) !important;
}
.moveFromRight {
  opacity: 1 !important;
  transform: translateX(0px) !important;
}
.wedding-box .qr:hover {
  box-shadow: 1px 1px 18px #888888;
}
.wedding-box .qr .qr-img img {
  width: 75%;
  border-radius: 12px;
  border: 1px solid #000;
}
/* End hộp mừng cưới */

/* section-4 */

.section-four {
  font-family: var(--font-two--);
  /* background-color: var(--color-three);  */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-four .container .inner-wrap {
  padding: 36px 78px;
  background-color: #f9f9f9;
  /* border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.inner-calendar h3.inner-title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.3em;
  font-weight: 400;
  color: #474747;
}

.section-four * {
  transition: all 0.5s ease-in-out;
}
.section-four .inner-table-one {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
}
.section-four .inner-table-head tr {
  display: flex;
  justify-content: space-between;
}
.section-four .inner-table-head th {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
  color: #474747;
  font-size: 16px;
  border-bottom: 1px solid #808080;
}
.section-four #inner-calendar-body::before {
  content: " ";
  background-color: #474747;
  height: 1px;
  width: 420px;
}
.section-four #inner-calendar-body td {
  text-align: center;
  width: 60px;
  height: 40px;
  padding: 10px;
  color: #808080;
  /* cursor: pointer; */
}

div.selected {
  background-color: #726e6e;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-four .inner-table-one::before {
  content: " ";
  background-color: #474747;
  height: 1px;
  width: 100%;
  display: inline-block;
  /* width: 420px; */
}
.section-four .inner-table-one::after {
  content: " ";
  background-color: #474747;
  height: 1px;
  width: 100%;
  margin-top: 30px;
  display: inline-block;
  /* width: 420px; */
}
/* Đồng hồ đếm ngược */
.inner-countdown {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  opacity: 0;
  transform: translateX(100px);
}

.inner-countdown .inner-box {
  text-align: center;
  width: calc(25% - 1em);
  margin-top: 30px;
}

.inner-countdown .inner-box span {
  display: block;
  font-size: 48px;
  font-weight: 400;
  color: #474747;
}

.inner-countdown .inner-box p {
  margin: 0;
  font-size: 16px;
  color: #474747;
}
.inner-calendar {
  opacity: 0;
  transform: translateX(-100px);
}
.inner-calendar.moveFromLeft {
  opacity: 1;
  transform: translateX(0);
}
.inner-countdown.moveFromRight {
  opacity: 1;
  transform: translateX(0);
}
@media (max-width: 475px) {
  .section-four .container .inner-wrap {
    padding: 48px 20px;
  }
}
@media (max-width: 325px) {
  .section-four #inner-calendar-body td {
    padding: 5px;
  }
}
/* end section-4 */

/* section 5 start  */

.section-5 img {
  z-index: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.section-5 * {
  transition: all 0.5s ease-in-out;
}
.section-5 .wrap h2 {
  font-family: var(--font-one--);
  font-size: 44.8px;
  color: #474747;
  font-weight: 300;
  text-align: center;
  margin-bottom: 8px;
  transform: translateY(100px);
  opacity: 0;
}
.section-5 .wrap h2.moveFromBottom {
  opacity: 1;
  transform: translateY(0);
}
.section-5 .wrap > h3 {
  font-size: 17.6px;
  margin-bottom: 24px;
  color: #212529;
  font-weight: 500;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
}
.section-5 .wrap > h3.moveFromBottom {
  opacity: 1;
  transform: translateY(0);
}
.section-5 .wrap {
  z-index: 1;
  padding: 48px 20px;
  background-color: white;
}
.section-5 .wrap .time-line-card {
  z-index: 0;
  background-color: white;
  padding: 20px 20px 30px;
  position: relative;
}
.section-5 .wrap .time-line-card .infor {
  padding: 10px;
  padding-top: 30px;
}
.section-5 .wrap .time-line-card .infor .title {
  font-weight: 500;
  font-size: 22.4px;
  color: #474747;
  margin-bottom: 8px;
  margin-top: 5px;
  position: relative;
  font-family: var(--font-two--);
}
.section-5 .wrap .time-line-card .infor .date {
  font-weight: 500;
}
.section-5 .wrap .time-line-card .infor .title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid orangered;
  border-color: #474747;
}
.section-5 .wrap .inner-wrap .time-line-card:nth-child(even) > .infor {
  text-align: right;
}
.section-5
  .inner-wrap
  .time-line-card:nth-child(odd)
  > .infor
  > .title::before {
  left: -34px;
}
.section-5
  .inner-wrap
  .time-line-card:nth-child(even)
  > .infor
  > .title::before {
  right: -34px;
}
.section-5 .wrap .time-line-card .infor p {
  margin-bottom: 16px;
  line-height: 25px;
  color: #212529;
  font-weight: 400;
}
.section-5 .wrap .time-line-card:first-child .infor {
  padding-top: 10px;
}
.section-5 .wrap .time-line-card:first-child {
  padding-top: 0px;
}
.section-5 .wrap .time-line-card:last-child {
  padding-bottom: 0px;
}
.section-5 .wrap .time-line-card .infor .img-holder {
  border-radius: 25px;
  overflow: hidden;
}
.section-5 .inner-wrap .time-line-card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid orangered;
  border-color: #474747;
}

.section-5 .inner-wrap .time-line-card:nth-child(odd)::before {
  left: 0px;
  top: -2px;
  bottom: 0px;
  border-width: 3px 0 3px 3px;
  border-radius: 50px 0 0 50px;
}
.section-5 .inner-wrap .time-line-card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0px;
}
.section-5 .inner-wrap .time-line-card:nth-child(even)::before {
  right: 0px;
  top: -2px;
  bottom: 0px;
  border-width: 3px 3px 3px 0px;
  border-radius: 0px 50px 50px 0px;
}
.section-5 .inner-wrap .time-line-card:last-child::before {
  border-bottom: 0;
  border-bottom-right-radius: 0px;
}
.section-5 .timeline-card:nth-child(even) {
  padding: 30px 20px 30px 20px;
}
.section-5 .wrap .inner-wrap .time-line-card:nth-child(even) {
  opacity: 0;
  transform: translateX(150px);
}
.section-5 .wrap .inner-wrap .time-line-card:nth-child(odd) {
  opacity: 0;
  transform: translateX(-150px);
}

.section-5 .wrap .inner-wrap .time-line-card.moveFromLeft {
  opacity: 1;
  transform: translateX(0);
}

.section-5 .wrap .inner-wrap .time-line-card.moveFromRight {
  opacity: 1;
  transform: translateX(0);
}
/* section 5 end  */
/* section-6 */
.section-6-main * {
  transition: all 0.5s ease-in-out;
}
.section-6-main {
  background-color: #f8f8f8;
  text-align: center;
  padding-top: 36px;
  margin-top: 20px;
}

.section-6-main h2 {
  font-size: 50px;
  font-weight: 500;
  font-family: var(--font-one--);
  margin: 0;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(100px);
}

.section-6-main p {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-two--);
  margin-top: 0px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(100px);
  padding-left: 40px;
  padding-right: 40px;
  line-height: 2;
}

.section-6-main img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.section-6-main .img-6 {
  padding: 0px 20px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(100px);
}

.section-6-main .text-6 {
  font-family: var(--font-one--);
  color: #949494;
  font-size: 35px;
  opacity: 0;
  transform: translateY(100px);
  font-weight: 500;
}

.section-6-main .text-6 span {
  color: #222;
  margin-left: 10px;
}
.moveFromBottom {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
/* end section-6 */

/* section-9 */
.section-9-main * {
  transition: all 0.5s ease-in-out;
}
.section-9-main {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  padding-top: 36px;
}

.section-9-main .box-item {
  display: flex;
  flex-wrap: wrap;
}

.section-9-main .header-main {
  font-size: 50px;
  font-family: var(--font-one--);
  color: #474747;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(100px);
}

.section-9 .box-content {
  line-height: 1.5;
  text-align: justify;
  font-size: 18px;
  opacity: 0;
  transform: translateY(200px);
  text-align: center;
}

.section-9 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-9 .qr-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  opacity: 0;
  transform: translateY(200px);
}

.section-9 .list-qr {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}
@media (max-width: 475px) {
  .section-9 .list-qr {
    flex-wrap: wrap;
  }
  .section-9 .qr-box {
    width: 100%;
  }
  .section-9 .qr-box:last-child {
    margin-top: 40px;
  }
}
.section-9 .text-qr {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.section-9 a {
  font-size: 20px;
  font-weight: bold;
}

.section-9-main {
  background-position: center center;
  background-size: contain;
}

.section-9 .qr-item {
  padding: 20px;
}

/* 
.section-9-main .header-text {
  font-size: 20px;
  font-family: var(--font-two--);
  font-weight: 530;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-9-main .text {
  padding: 5px;
  font-size: 18px;
  color: #212529;
  text-align: center;
  font-family: var(--font-two--);
  margin-top: 0px;
  font-weight: 500;
}

.section-9-main .box-img img {
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
} */

/* end section-9 */
/* Co Dau & Chu Re */
.section-bride-groom {
  color: #474747;
}
.section-bride-groom * {
  transition: all 0.5s ease-in-out;
}
.section-bride-groom .inner-wrap {
  background-color: #f9f9f9;
  padding: 36px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-bride-groom .inner-wrap .inner-title {
  font-family: var(--font-one--);
  font-size: 44px;
  font-weight: 500;
  margin: 0;
  opacity: 0;
  transform: translateY(100px);
}
.section-bride-groom .inner-wrap .inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-bride-groom .inner-wrap .inner-box .inner-image {
  margin-top: 30px;
  width: 350px;
  height: 350px;
  opacity: 0;
  transform: rotateY(180deg);
}
@media (max-width: 375px) {
  .section-bride-groom .inner-wrap .inner-box .inner-image {
    width: 300px;
    height: 300px;
  }
}
.section-bride-groom .inner-wrap .inner-box .inner-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.section-bride-groom .inner-wrap .inner-box .inner-parent {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  opacity: 0;
  transform: rotateY(180deg);
}
.section-bride-groom .inner-wrap .inner-box .inner-parent strong {
  font-weight: bold;
}
.section-bride-groom .inner-wrap .inner-box .inner-parent span {
  text-align: center;
  font-size: 17px;
}

.section-bride-groom .inner-wrap .inner-box .inner-content p {
  line-height: 1.5em;
  letter-spacing: 0.1em;
  margin: 0;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font: inherit;
  vertical-align: baseline;
  margin-block-start: 0.8em;
}
.section-bride-groom .inner-wrap .inner-box .inner-button {
  padding: 2px;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  cursor: pointer;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: rotateY(180deg);
}
.section-bride-groom .inner-wrap .inner-box .inner-contact {
  font-family: var(--font-one--);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  margin-top: 10px;
  opacity: 0;
  transform: rotateY(180deg);
}
.section-bride-groom .inner-wrap .inner-box .inner-contact a {
  color: #474747;
}
.section-bride-groom .inner-wrap .inner-box .inner-contact ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.section-bride-groom .inner-wrap .inner-box .inner-contact ul li {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-left: 12px;
}
.section-bride-groom .inner-wrap .inner-box:nth-child(2) {
  margin-top: 50px;
}

.rotate360Y {
  opacity: 1 !important;
  transform: rotateY(0deg) !important;
}
/* EndCo Dau & Chu Re */

/* section-11 start */
.section-11 * {
  transition: all 0.5s ease-in-out;
}
.section-11 .wrap {
  padding: 36px 20px;
  text-align: center;
}
.section-11 .wrap .inner-title {
  font-family: var(--font-one--);
  font-size: 44.8px;
  color: #474747;
  margin-bottom: 8px;
  font-weight: 500;
  opacity: 0;
  transform: translateY(100px);
}
.section-11 .wrap .inner-desc {
  font-family: var(--font-two--);
  font-size: 17.6px;
  color: #212529;
  margin-bottom: 24px;
  font-weight: 500;
  opacity: 0;
  transform: translateY(100px);
}
.section-11 .wrap .inner-form {
  padding: 12px;
  background-color: #f8fafc;
}
.section-11 .wrap .inner-form input,
.section-11 .wrap .inner-form textarea {
  padding: 10px;
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  transition: 0.1s;
}
.section-11 .wrap .inner-form input:focus {
  outline: none;
  border-color: #007bff;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
.section-11 .wrap .inner-form input {
  border-radius: 7px;
  height: 40px;
}
.section-11 .wrap .inner-form .information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.section-11 .wrap .inner-form .error-message {
  font-size: 15px;
}
.section-11 .wrap .inner-form .information > div {
  border-radius: 7px;
  transition: 0.1s;
  width: 100%;
  border: none;
  outline: none;
  overflow: hidden;
  /* height: 40px; */
}

.section-11 .wrap .inner-form .send-greet {
  display: block;
  width: 100%;
  padding: 6px 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 7px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.section-11 .wrap .inner-form .send-greet textarea {
  margin-bottom: 0;
  border-radius: 0 !important;
  resize: none;
  padding: 6px 12px;
  height: 100px;
  border: none;
  outline: none;
  background-color: white !important;
}
.section-11 .wrap .inner-form .send-greet .add-greet {
  padding: 10px;
  text-align: right;
  border-top: 1px solid #f3f1f1;
}
.section-11 .wrap .inner-form .send-greet .add-greet > span {
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.section-11 .wrap .inner-form .greet-btn {
  margin-top: 20px;
  padding-bottom: 10px;
}
.section-11 .wrap .inner-form .greet-btn button {
  padding: 10px 70px;
  background-color: #5c636a;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.section-11 .wrap .inner-form .greet-btn button:hover {
  background-color: #848484;
}
.section-11 .wrap .show-comment {
  background-color: #f8fafc;
  overflow-y: auto;
  height: 410px;
  margin-top: 15px;
  text-align: left;
  padding: 16px 10px;
  overflow: auto;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1),
    /* Shadow on top */ 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow on bottom */
}
@media (max-width: 475px) {
  .section-11 .wrap .show-comment {
    height: 300px;
  }
}
.section-11 .wrap .show-comment .wish {
  position: relative;
  padding: 10px 10px;
  border: none;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.section-11 .wrap .show-comment .wish p:first-child {
  margin: 4px 0 8px;
  padding-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  color: #212529;
}
.section-11 .wrap .show-comment .wish p:last-child {
  font-size: 15px;
  color: #212529;
}

/* section-11 end */

/* Thank You  */
.section-thank-you .inner-wrap {
  padding: 48px 0;
  font-family: var(--font-two--);
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-thank-you .inner-wrap h3 {
  color: #474747;
  font-size: 44px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-weight: 500;
}
.section-thank-you .inner-wrap h5 {
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
/* End Thank You  */

/* Các nút icon wedding . */
.section-12 .button-wedding i {
  font-size: 22px;
  color: white;
}

body {
  position: relative;
}

.section-12 .box-item-wedding {
  z-index: 2000;
  position: fixed;
  right: 55px;
  bottom: 60px;
  display: none;
}

.section-12 .button-wedding-volum {
  position: fixed;
  left: 50px;
  bottom: 70px;
  z-index: 3200;
}

.section-12 .open-volum {
  display: none;
  border-radius: 50%;
  animation: border-pulse 1s infinite;
}

.section-12 .close-volum {
  display: none;
  border-radius: 50%;
  animation: border-pulse 1s infinite;
}

.section-12 .button-open {
  z-index: 2000;
  position: fixed;
  right: 55px;
  bottom: 70px;
  border-radius: 50%;
  animation: border-pulse 1s infinite;
}

.section-12 .button-close {
  border-radius: 50%;
  animation: border-pulse 1s infinite;
}

.section-12 .box-button-wedding {
  display: flex;
  padding-bottom: 10px;
}

.section-12 .button-wedding {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #df4758;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.section-12 .text-wedding {
  z-index: 2000;
  background-color: #df4758;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  position: absolute;
  left: -160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-12 .box-button-wedding .button-wedding:hover + .text-wedding {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
}

.section-12 .box-button-wedding .text-wedding::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -5px; /* Dịch sang phải để tạo mũi nhọn */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px; /* Chiều rộng mũi nhọn */
  border-color: transparent transparent transparent #df4758; /* Màu nền của nút */
}

.section-12 .text-volum {
  background-color: white;
  height: 42px;
  padding: 20px;
  position: fixed;
  bottom: 70px;
  left: 50px;
  border-radius: 20px;
  /* display: none; */
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 1000;
  padding-left: 50px;
}
/* extra div  */
.payment {
  position: fixed;
  z-index: 1000;
  /* max-width: 576px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  padding: 40px 20px;
}
.payment .wedding-box {
  z-index: 1001;

  position: relative;
  height: 100%;
}
.payment .wedding-box .container {
  background-color: white;
  max-width: 700px;
  position: relative;
}
.payment .wedding-box .wrap-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #df4758;
  cursor: pointer;
}
/* End Các nút icon wedding . */

/* image-gallery end*/

/* Hiệu ứng rung  */
/* Keyframes cho hiệu ứng rung */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Class áp dụng hiệu ứng */
.shake {
  animation: shake 0.5s ease;
}
/* End Hiệu ứng rung */
#snowfall-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Để không ảnh hưởng đến các phần tử khác */
}
/* styles.css */
.snowflake {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 50%;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  opacity: 0.8;
  pointer-events: none;
  z-index: 3000;
  animation: fall linear;
}

@keyframes fall {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(100vh) translateX(calc(10px - 5vw));
  }
}

/* animaion viền chuyển động bóng mờ bên ngoài . */

@keyframes border-pulse {
  0% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.3); /* Viền sáng hơn */
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
  }
}

/* responsive  */
@media (max-width: 475px) {
  /*  video cưới */
  .section-2-main .iframe iframe {
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 100%;
    height: 221px;
  }
  .section-2-main p:first-child {
    font-size: 40px;
  }
  .section-2-main #text {
    font-size: 15px;
  }
  .wedding-event .inner-wedding .event .event-desc {
    margin-bottom: 10px;
    font-size: 17px;
  }
  /* end video cưới */

  /* section 3 - album cưới */
  .album h2 {
    font-size: 44.8px;
  }
  .album p {
    font-size: 17.6px;
  }
  /* end section 3 */

  /* section 7 - sự kiện cưới */
  .wedding-event .inner-wedding .event {
    flex-direction: column;
  }
  .wedding-event .container .inner-wedding {
    padding: 20px;
  }
  .wedding-event .container .inner-wedding .event {
    margin: 0;
    height: 500px;
    width: 100%;
  }
  .wedding-event .inner-wedding .event-img {
    width: 100%;
    height: 250px;
  }
  .wedding-event .inner-wedding .event .event-desc {
    width: 80%;
    align-self: center;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0 10px;
  }
  .wedding-event .inner-wedding .event .event-info p {
    padding: 8px 20px;
  }
  /* end section 7 */

  /* lời ngỏ */
  .section-6 .section-6-main p {
    font-size: 16px;
  }

  .section-6-main h2 {
    font-size: 40px;
  }

  .section-6 .section-6-main .text-6 {
    font-size: 28px;
  }
  /* end lời ngỏ . */

  /* Phù dâu & Phù rể  */
  /* .section-9-main .box-img {
    width: 100%;
    transform: translateY(100px);
    margin-top: 70px;
  }

  .section-9-main .box-img:first-child {
    margin-top: 0px;
  }

  .section-9-main .header-main {
    font-size: 40px;
    transform: translateY(100px);
  }

  .section-9-main .box-img img {
    object-fit: cover;
    border-radius: 50%;
    width: 260px;
    height: 260px;
  } */

  /* .section-9-main .header-main {
    font-size: 40px;
    transform: translateY(100px);
    margin-bottom: 40px ;
  } */

  /* end Phù dâu & Phù rể */
  /* Hộp mừng cưới start */
  .wedding-box .qr-box {
    flex-wrap: wrap;
  }
  .wedding-box .qr-box .qr {
    width: 100%;
    margin-bottom: 20px;
  }

  /* Hộp mừng cưới end */
  /* Button-wedding */
  .section-12 .box-item-wedding {
    right: 20px;
    bottom: 20px;
  }

  .section-12 .button-open {
    right: 20px;
    bottom: 30px;
  }

  .section-12 .button-wedding-volum {
    position: fixed;
    left: 20px;
    bottom: 30px;
    z-index: 3200;
  }

  .section-12 .text-volum {
    left: 20px;
    bottom: 30px;
    font-size: 15px;
  }
  /* end Button-wedding */
}

@media (max-width: 320px) {
  /*  video cưới */
  .section-2-main .iframe iframe {
    width: 100%;
    height: 161px;
  }
  .section-2-main p:first-child {
    font-size: 40px;
  }
  /* end video cưới */

  /* section 3 - album cưới */
  .album h2 {
    font-size: 40px;
  }
  .album p {
    font-size: 17.6px;
  }
  /* end section 3 */

  /* section 7 - sự kiện cưới */

  /* end section 7 */

  /* lời ngỏ */
  .section-6 .section-6-main p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
  }

  .section-6 .section-6-main .text-6 {
    font-size: 20px;
  }
  /* end lời ngỏ . */

  /* Phù dâu & Phù rể  */
  .section-9-main .box-img img {
    object-fit: cover;
    border-radius: 50%;
    width: 180px;
    height: 180px;
  }
  /* end Phù dâu & Phù rể */
}

/* end responsive */
